body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
        color: rgba(0, 0, 0, 0.856);
        background-color: #ffffff;
        flex-wrap: wrap;
    }

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
main{
    minwidth:200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1{
   font-weight: 550;
   font-size: 40px;
   flex-wrap: wrap;
}
h1 > b{
    text-decoration: none;
    color: #8dc63f;
}
h3{
    font-size: 24px;
    font-weight: 600;
    color:  rgba(0,0,0,.85);
    line-height: 1.35;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
}
h3 > b{
    text-decoration: none;
    color: #0066b3;
    flex-wrap: wrap;
    
}
p{
    word-break: break-word;
    word-spacing: 6px;
    color: rgba(0, 0, 0, 0.726);
    line-height: 1.5715;
    font-size: 17px;
    flex-wrap: wrap;
}
input{
    border: 1px solid black;
    border-radius: 5px ;
    padding: 18px;
    width: 200px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.685);
    font-size: 12px;
    flex-wrap: wrap;
}
footer{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.788);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    word-spacing: 5px;
    flex-wrap: wrap;
}
